.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center; /* Center align the links */
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 20px; /* Position the navbar 20 pixels above the top */
}

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.box {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
  margin: auto;
}

.main {
  margin-top: 70px; /* Adjusted margin-top for the main content (20px navbar + 50px margin) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* Adjusted height to ensure content is centered vertically */
  width: 600px;
}
