
.topnav{
  border:3 px;
  height: 30px;
  width: auto;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
  float:center;
}

.topnav a {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}


}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .box {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid black; /* Added border style */
  padding: 10px;
   /* Changed margin to center horizontally */
}

.main{
  margin:160px;
}

